*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.space{
    flex: 1;
}

.container{
    width: 75%;
    font-family: 'Hind', sans-serif;
    font-family: 'Lexend', sans-serif;
    margin-inline: auto;
   
}

@import url('https://fonts.googleapis.com/css2?family=Hind&family=Lexend:wght@100;200;300;400;500;600&display=swap');