@import url('https://fonts.googleapis.com/css2?family=Hind&family=Lexend:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
:root{
    --couleurbleuPrincipale: rgb(134, 218, 246);
}   

.first-head{
    display: flex;
    align-items: center;
  
}
.quick-infos{
     display: flex;
    align-items: center;
   justify-content: space-between;
   margin-left: 20%;
   font-weight: 200;
}

.q-contact{
    margin:0 14px ;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(228, 228, 228);
    width: 300px;
    height: 120px;
}
.q-contact:hover{
    color: var(--couleurbleuPrincipale);
}
.q-adress{
    margin:0 20px ;
    display: flex;
    align-items: center;
    width: 250px;
}
.q-adress:hover{
    color: var(--couleurbleuPrincipale);
}
.iconqco{
    color: var(--couleurbleuPrincipale);
    font-size: 28px;
    margin: 0 18px;
}
.iconqad{
    color: var(--couleurbleuPrincipale);
    font-size: 28px;
    margin: 0 18px;
}
.q-reseaux{
    
    color: var(--couleurbleuPrincipale);
    font-size: 28px;
    margin: 0 100px;
    
}

.navbar ul {
 list-style-type: none;

}
.barnav{
    border-top: 1px solid rgb(228, 228, 228);
}
.navbar {
    margin-left: 10%; 
  
}

.navbar ul li {
    float: left;
    width: 150px;
    text-align: center;
    position: relative;
   
    
    
}


.navbar ul::after{
    content: "";
    display: table;
    clear: both;
}

.navbar a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 12px 0px;
    font-weight: 600;
}
.navbar .active {
    background-color: var(--couleurbleuPrincipale);
    border-radius: 28px  28px 0 0;
    color: #fff;
    border-bottom: 2px solid var(--couleurbleuPrincipale);
  }

.navbar a:hover{
    background-color: #8adaf5c5;
    border-radius: 28px  28px 0 0;
    color: #fff;
    border-bottom: 2px solid var(--couleurbleuPrincipale);
    
}
.navbar .sous a:hover{
    
    border-radius: 28px  28px 0 0;
    color: var(--couleurbleuPrincipale);
    border-bottom: 2px solid var(--couleurbleuPrincipale);
    width: 120%;
    
}
.navbar .sous a{
    
    border-radius: 28px  28px 0 0;
    color: #fff;
   
    width: 120%;
    
}


.navbar ul::after{
    content: "";
    display: table;
    clear: both;
}

.sous{
    display: none;
    color: #fff;
    box-shadow: 0px 1px 2px #cccccc9c;
    background-color: rgba(255, 255, 255, 0.06);
    position: absolute;
    width: 120%;
    z-index: 1000;
}
.navbar > ul li:hover .sous{
    display: block;
    
}
.sous li{
    float: none;
    width: 120%;
    text-align: center;
}
.sous a{
    padding: 10px;
    border-bottom: none;
    color: #fff;
}
.sous a:hover{
   
    background-color: #ffffff00;
    color:var(--couleurbleuPrincipale);
}
.deroulant > a::after{
    content:"▼";
    font-size: 12px;
    margin-left: -6px;
}

.home{
   
   
    width: 100%;
    height: 5px;
    background-color: var(--couleurbleuPrincipale);
}



.banner{
   
    position: relative;
    background-image: linear-gradient(to left,
    rgba(0, 0, 0, .99), 
    rgba(0, 0, 0, .6) ,
    rgba(0, 0, 0, .6),
    rgba(0, 0, 0, .99)),
     url(../ressources/slide1.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   color: #fff;
   /* display: flow-root; */
   padding-block: 15rem;
}

.banner .title{
    
    width: 100%;
   text-align: center;
    display: flex;
   flex-direction: column;
   align-items: center;
}
.banner .line-d {
    
  
    position: absolute;
     top: 200px;
  right: 0;
   width: 42%;
   
    height: 1px;
    background-color: rgb(119, 123, 126);
}
.banner .line-g {
   
   position: absolute;
   top: 550px;
   left: 0;
    width: 42%;
    height: 1px;
    background-color: rgb(119, 123, 126);
}
.banner .title a{
    margin-top: 18px;
  text-decoration: none;
  color: #fff;
 
border: 1px solid var(--couleurbleuPrincipale);
padding: 6px 16px;
border-radius: 25px;
}

h1{
    font-size: 8em;
    color: var(--couleurbleuPrincipale);
    font-family: 'Caveat', cursive;
    font-family: 700;
}

p{
    font-family: 'Hind', sans-serif;
    
}

a{
    font-family: 'Hind', sans-serif;
}

.services{
    position: relative;
    width: 100%;
    height: 850px;
    background-color: var(--couleurbleuPrincipale);
    border-radius:0 0 400px 400px;
}
.services .title {
    width: 100%;
   text-align: center;
    display: flex;
   flex-direction: column;
   align-items: center;

}
.services .title h2{
    margin-top: 100px;

    font-family: 'Roboto', sans-serif;
    color: #fff;
   text-transform: uppercase;
   font-size: 2em;

}

.services .line-d{
    
   position: absolute;
   top: 160px;
   left: 0;
    width: 42%;
    height: 1px;
    background-color: rgb(255, 255, 255);
}
.services .line-g{
    
   position: absolute;
   top: 80px;
   right: 0;
    width: 42%;
    height: 1px;
    background-color: rgb(255, 255, 255);
}

.container .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   width: 100%;
    gap: 100px;
}

/* card animation */
.snip1577 {
  
   
   
    font-family: 'Montserrat', Arial, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
   margin-top: 150px;
    min-width: 230px;
    max-width: 315px;
    height: 400px;
    width: 100%;
    color: #fff;
    text-align: left;
    font-size: 16px;
    border-radius: 25px;
   
    box-shadow: inset 0 0 0 0 #000000, 2px 5px 16px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    
   
  }
.snip1577 .form {
    position: absolute;
    z-index: 1;
    background-color: black;
    width: 100%;
    height: 400px;
    opacity: .5;
   
  }
.snip1577 img {
    width: 600px;
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    z-index: 0;
    transition: all 0.4s ease;

   
  }
.snip1577:hover img{
   width: 650px;

   
  }

.snip1577-a .img2 {
    width: 750px;
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    z-index: 0;
    transition: all 0.4s ease;

   
  }
.snip1577-a:hover .img2 {
    width: 800px;
 
  }
.snip1577-a .img3 {
    width: 600px;
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    z-index: 0;
    transition: all 0.4s ease;

   
  }
.snip1577-a:hover .img3 {
    width: 650px;
 
  }
  
  .snip1577 *,
  .snip1577:before,
  .snip1577:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  

  
  .snip1577:before{
    position: absolute;
    top: 250px;
    
    content: '';
    background-color: var(--couleurbleuPrincipale);
    z-index: 2;
    opacity: 0;
  }
 
  .snip1577:after {
    position: absolute;
    top: 120px;
    
    content: '';
    background-color: var(--couleurbleuPrincipale);
    z-index: 2;
    opacity: 0;
  }
  
  .snip1577:before {
    width: 0;
    height: 1px;
  }
  
  .snip1577:after {
   
    height: 1px;
    width: 0;
   right: 0;
  }
  
  .snip1577 .title {
   
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    padding: 15px 40px;
    z-index: 10;
  }
  
  .snip1577 h3,
  .snip1577 p {
    text-align: left;
    margin: 0;
    font-size: 1.1em;
    font-weight: normal;
    opacity: 1;
    
  }
  .snip1577 span {
    position: absolute;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #fff;
   text-transform: uppercase;
   top: -5px;
   left: 40px;
   margin: 0;
    font-size: 1em;
    font-weight: normal;
    opacity: 1;
    text-shadow: none;
    
  }
  
  
  .snip1577 p {
    font-size: .8em;
    text-transform: uppercase;
  }
  
  .snip1577 a {
    position: absolute;
    top: 300px;
    text-decoration: none;
    color: #fff;
 
    border: 1px solid var(--couleurbleuPrincipale);
    padding: 6px 16px;
    border-radius: 25px;
    
    z-index: 2;
    opacity: 0;
  }
  .snip1577:hover a {
    top: 185px;
   opacity: 1;
   -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  .snip1577:hover .form {
    zoom: 1;
    filter: alpha(opacity=20);
    -webkit-opacity: 0.2;
    opacity: 0.8;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  .snip1577:hover:before,
  .snip1577.hover:before,
  .snip1577:hover:after,
  .snip1577.hover:after {
    opacity: 1;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
  
  .snip1577:hover:before,
  .snip1577.hover:before {
    width: 100px;
  }
  
  .snip1577:hover:after,
  .snip1577.hover:after {
    width: 100px;
  }
  
  
  .snip1577:hover p,
  .snip1577.hover p {
    opacity: 1;
  }
  

  
  .snip1577:hover p,
  .snip1577.hover p {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
  }

/* card animation */



.actus{
    position: relative;
    width: 100%;
    height: 850px;
    background-color: #fff;
    border-radius:0 0 400px 400px;
}
.actus .title {
    width: 100%;
   text-align: center;
    display: flex;
   flex-direction: column;
   align-items: center;

}
.actus .title h2{
    margin-top: 100px;

    font-family: 'Roboto', sans-serif;
    color: var(--couleurbleuPrincipale);
   text-transform: uppercase;
   font-size: 2em;

}

.actus .line-d{
    
   position: absolute;
   top: 160px;
   left: 0;
    width: 42%;
    height: 1px;
    background-color:var(--couleurbleuPrincipale);
}
.actus .line-g{
    
   position: absolute;
   top: 80px;
   right: 0;
    width: 42%;
    height: 1px;
    background-color: var(--couleurbleuPrincipale);
}

/* card animation */
.snip1577-a {
  
   
   
    font-family: 'Montserrat', Arial, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
   margin-top: 150px;
    min-width: 230px;
    max-width: 315px;
    height: 400px;
    width: 100%;
    color: #fff;
    text-align: left;
    font-size: 16px;
    border-radius: 25px;
   
    box-shadow: inset 0 0 0 0 #000000, 2px 5px 16px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    
   
  }
.snip1577-a .form-a {
    position: absolute;
    z-index: 1;
    background-color: black;
    width: 100%;
    height: 400px;
    opacity: .5;
   
  }
.snip1577-a img {
    width: 600px;
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    z-index: 0;
   

   
  }
.snip1577-a .img1 {
    width: 750px;
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    z-index: 0;
    transition: all 0.4s ease;

   
  }
.snip1577-a:hover .img1 {
    width: 800px;
 
  }
.snip1577-a .img2 {
    width: 750px;
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    z-index: 0;
    transition: all 0.4s ease;

   
  }
.snip1577-a:hover .img2 {
    width: 800px;
 
  }
.snip1577-a .img3 {
    width: 600px;
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    z-index: 0;
    transition: all 0.4s ease;

   
  }
.snip1577-a:hover .img3 {
    width: 650px;
 
  }
  
  .snip1577-a *,
  .snip1577-a:before,
  .snip1577-a:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  

  
  .snip1577-a:before{
    position: absolute;
    top: 300px;
    
    content: '';
    background-color: var(--couleurbleuPrincipale);
    z-index: 2;
    opacity: 0;
  }
 
  .snip1577-a:after {
    position: absolute;
    top: 90px;
    
    content: '';
    background-color: var(--couleurbleuPrincipale);
    z-index: 2;
    opacity: 0;
  }
  
  .snip1577-a:before {
    width: 0;
    height: 1px;
  }
  
  .snip1577-a:after {
   
    height: 1px;
    width: 0;
   right: 0;
  }
  
  .snip1577-a .title {
   height: 200px;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    padding: 15px 40px;
    z-index: 10;
  }
  
  
  .snip1577-a p {
    text-align: left;
    margin: 0;
    font-size: 1.1em;
    font-weight: normal;
    opacity: 1;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  }
  .snip1577-a h3,
  .snip1577-a p {
    text-align: left;
    margin: 0;
    font-size: 1.1em;
    font-weight: normal;
    opacity: 1;
   
  }
  .snip1577-a span {
    
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #fff;
   text-transform: uppercase;
   top: -5px;
   left: 40px;
   margin: 0;
    font-size: 1em;
    font-weight: normal;
    opacity: 1;
    text-shadow: none;
    
  }
  
  
  .snip1577-a p {
    font-size: .8em;
    text-transform: uppercase;
  }
  
  .snip1577-a a {
    position: absolute;
    top: 300px;
    text-decoration: none;
    color: #fff;
 
    border: 1px solid var(--couleurbleuPrincipale);
    padding: 6px 16px;
    border-radius: 25px;
    
    z-index: 2;
    opacity: 0;
  }
  .snip1577-a:hover a {
    top: 245px;
   opacity: 1;
   -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  .snip1577-a:hover .form-a {
    zoom: 1;
    filter: alpha(opacity=20);
    -webkit-opacity: 0.2;
    opacity: 0.8;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  .snip1577-a:hover:before,
  .snip1577-a.hover:before,
  .snip1577-a:hover:after,
  .snip1577-a.hover:after {
    opacity: 1;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
  
  .snip1577-a:hover:before,
  .snip1577-a.hover:before {
    width: 100px;
  }
  
  .snip1577-a:hover:after,
  .snip1577-a.hover:after {
    width: 100px;
  }
  
  
  .snip1577-a:hover p,
  .snip1577-a.hover p {
    opacity: 1;
  }
  

  
  .snip1577-a:hover p,
  .snip1577-a.hover p {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
  }
  

/* card animation */

.partenaires{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #fff;
    border-radius:0 0 400px 400px;
}
.partenaires .title {
    width: 100%;
   text-align: center;
    display: flex;
   flex-direction: column;
   align-items: center;

}
.partenaires .title h2{
    margin-top: 100px;

    font-family: 'Roboto', sans-serif;
    color: var(--couleurbleuPrincipale);
   text-transform: uppercase;
   font-size: 2em;

}

.partenaires .line-d{
    
   position: absolute;
   top: 160px;
   left: 0;
    width: 42%;
    height: 1px;
    background-color:var(--couleurbleuPrincipale);
}
.partenaires .line-g{
    
   position: absolute;
   top: 80px;
   right: 0;
    width: 42%;
    height: 1px;
    background-color: var(--couleurbleuPrincipale);
}


@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .slider {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logos {
    width: 800px;
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 100px;
    margin: 0 40px;
  }

  .contact {
    position: relative;
    width: 100%;
    height: 750px;
    background-color: var(--couleurbleuPrincipale);
    border-radius: 400px 400px 0 0;
  }
 


  .scroll {
    position: relative;
    display: flex;
    width: 700px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent)
}

.scroll div {
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
    animation-delay: calc(var(--time)*-1);
    

}
.scroll:hover div, .scroll:hover div:nth-child(2) {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
    

}

.scroll div:nth-child(2) {
    animation: scroll2 var(--time) linear infinite;
    animation-delay: calc(var(--time)/-2);
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

.imgBox div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBox img {
    max-width: 180px;
    scale: 0.8;
}



.contact-form {
   
 margin-top: 80px;
}
.contact-wrap {
   
	width: 100%;
	height: auto;
	margin:auto;
	display: flex;
	
}

.contact-in {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-top: 40px;
	
}
.contact-in .maps{
    height: 350px;
  width: 500px;


    
	padding: 40px 0;
}
.contact-in .cadre2 {
display: flex;
align-items: center;


}
.contact-in .cadre2 .c1{

display: flex;
align-items: start;
flex-direction: column;


}
.contact-in .cadre2 .c1 div{
    height: 40px;
    padding: 24px;
display: flex;
align-items: center;
justify-content: center;



}
.contact-in .cadre2 .c1{
display: flex;
align-items: start;
justify-content: center;
flex-direction: column;


}
.contact-in .cadre2 .c1 div{
display: flex;
align-items: center;
justify-content: center;



}
.contact-droit{
   
    display: flex;
	align-items: center;
    justify-content: center;
}







.contact-in .cadre2 .c1 .a i{
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f5f5f5;
	color: var(--couleurbleuPrincipale);
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}
.contact-in .cadre2 .c1 .social i{
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f5f5f5;
	color: var(--couleurbleuPrincipale);
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}

.contact-in p {
	font-size: 14px;
	font-weight: 300;
	
}

.contact-in ul {
	padding: 0;
	margin: 0;
}

.contact-in ul li {
	list-style: none;
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}



.contact-in ul li a i {
	font-size: 14px;
	line-height: 30px;
	color: #000;
}

.contact-droit form {
    
	width: 100%;
	height: auto;
}

.contact-in-input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
    border:none;
    border-bottom: 1px solid #fff;
    padding: 5px 10px;
    outline: none;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}


.input-group {
    position: relative;
    margin: 40px 0 20px;
  }
  
  input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 600px;
    border: none;
    border-bottom: 1px solid #757575;
  }
  textarea {
    resize: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 600px;
    height: 200px;
    border: none;
    border-bottom: 1px solid #757575;
  }
  
  textarea, input:focus {
    outline: none;
  }
  
  label {
    color: #99999989;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  input:focus ~ label,
  input:valid ~ label {
    top: -25px;
    font-size: 16px;
    color: #fff;
  }
  textarea:focus ~ label,
  textarea:valid ~ label {
    top: -25px;
    font-size: 16px;
    color: #fff;
  }
  .form-row {
    margin-bottom: 10px;
}

.form-input {
    display: block;
}

.form-error {
    color: red;
}

#popup-form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#popup-form-container form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
}

 

  
  
  
 
/* .input-group
{
    position: relative;
}
.input
{
    width: 100%;
	height: 40px;
	margin-bottom: 20px;
    border:none;
    border-bottom: 1px solid #fff;
    padding: 5px 10px;
    outline: none;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}
.placeholder
{
    position: absolute;
   
    left: 8px;
    font-size: 14px;
    padding: 0px 5px;
    color: #ffffffe2;
    transition: 0.3s;
    pointer-events: none;
}
.input:focus + .placeholder,.input:valid + .placeholder
{
    top: -10px;
    color: #fff;
    
} */
/* [placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.6s 0.6s ease; 
    text-indent: -100%;
    opacity: 1;
 }

.contact-in-input::placeholder {
	color: #fff;
    padding-left: 10px;
} */

.contact-in-textarea {
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
	border-bottom: 1px solid #fff;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

.contact-in-textarea::placeholder {
	color: #fff;
}

.contact-in-btn {
	width: 100%;
	height: 40px;
	border: 1px solid #fff;
	outline: none;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.contact-in iframe {
	width: 100%;
	height: 100%;
}


.partenaires{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #fff;
    border-radius:0 0 400px 400px;
}
.contact .title {
    width: 100%;
   text-align: center;
    display: flex;
   flex-direction: column;
   align-items: center;

}
.contact .title h2{
    margin-top: 100px;

    font-family: 'Roboto', sans-serif;
    color: #fff;
   text-transform: uppercase;
   font-size: 2em;

}

.contact  .line-d{
    
   position: absolute;
   top: 160px;
   left: 0;
    width: 42%;
    height: 1px;
    background-color: #fff;
}
.contact .line-g{
    
   position: absolute;
   top: 80px;
   right: 0;
    width: 42%;
    height: 1px;
    background-color: #fff;
}

.footer {
    margin-top:auto; 
    width: 100%;
    height: 400px;
    background-color:black;
   color: #fff;
  }

  footer{
    margin-top: auto;
    display: flex;
   justify-content: center;
  }
  footer .recap{
    font-weight: 100;
    width: 800px;
    margin-top: 100px;
    margin-left: 70px;
  }
  footer .recap .title{
    
    font-size: .7em;
  
  }
  footer .recap .a{
    
    display: flex;
    align-items: center;
  
  }
  footer .recap .a p{
    
  margin-left: 10px;
  }
  footer .recap ul li a{
    list-style-type: none;
    text-decoration: none;
    color: #fff;

  }
  footer .recap ul li a:hover{
   color: var(--couleurbleuPrincipale);

  }
  footer .recap a{
    
    color: #fff;

  }
  footer .recap a:hover{
    
    color: var(--couleurbleuPrincipale);

  }
  footer .recap ul li {
    list-style-type: none;
   

  }

  .info-footer{
    display: flex;
    justify-content: space-between;
    
  }
  hr{
   opacity: .2;
  }
  .info-footer p{
font-size: 12px;
    opacity: .5;
  }
  .info-footer p:hover{
font-size: 12px;
    opacity: 1;
  }
  .info-footer p a{
text-decoration: none;
color: #fff;
    
  }


  /* Styliser le conteneur du flux RSS */
#bloople-rss {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

/* Styliser le titre du flux */
.feed-title {
    font-size: 24px;
    color: #333;
}

/* Styliser la description du flux */
.feed-desc {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

/* Styliser l'icône du flux */
.feed-title-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Styliser le titre de chaque élément du flux */
.feed-item-title {
    font-size: 18px;
    color: #0066cc;
}

/* Styliser la description de chaque élément du flux */
.feed-item-desc {
    font-size: 14px;
    color: #444;
    margin-bottom: 10px;
}

/* Styliser les liens des articles */
.feed-item-desc a {
    color: #0066cc;
    text-decoration: none;
}

.feed-item-desc a:hover {
    text-decoration: underline;
}

.feed-item-desc img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}