.img .crop{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 25px;
   
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.img .crop1{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 25px;
   
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.presentation .img {
    position: relative;
    float: left;
   margin: -130px 50px 50px 30px;
}

.img .crop img{
    width: 1000px;
        position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
   
   
}

.title h2 span{
    text-transform:none;

}

.presentation {
   
    
}
.presentation .pargraph{
    margin-top: 80px;
    text-align: justify;

}
.presentation .pargraph h3 {
    font-family: 'Roboto', sans-serif;
    color: var(--couleurbleuPrincipale);
   text-transform: uppercase;
   
   font-size: 1.5em;

}

.suite-present{
    text-align: justify;
}
.present{
    text-align: justify;
   
    
}
.form{
    float: right;
    width: 350px;
    height: 800px;
    
    border-radius: 25px;
   margin: 50px 5px 50px 50px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.present .pargraph{
    width: 1000px;
    
  
}